.page-left-part {
    text-align: center;
    background: #686868;
    width: 200px;
    min-width: 200px;
    
    section.brand {
        margin-top: 30px;
        
        a.logotype {
            text-align: center;
            display: inline-block;
            width: 91px;
            height: 100px;
            background: red;
            background: url(/img/application/templates/admin/short-logo.png) no-repeat;
        }
    }
    
    section.user-status {
        margin-top: 10px;
        
        p {
            color: black;
            letter-spacing: 1px;
            strong {
                color: red;
            }
        }
        
        ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            
            li {
                display: inline;
                
                a {
                    color: #CDCDCD;
                    margin-left: 3px;
                    margin-right: 3px;
                    
                    &:hover {
                        text-decoration: none;
                        color: red;
                    }
                }
            }
        }
    }
    
    section.navigation {
        margin-top: 30px;
        text-align: left;
        ul {
            list-style-type: none;
            text-align: left;
            margin: 0px;
            padding: 0px;
            
            li {
                margin-top: 5px;
                text-align: center;
                
                a {
                    line-height: 30px;
                    height: 30px;
                    min-height: 30px;
                    letter-spacing: 1px;
                    color: #CDCDCD;
                }
            
                &.active, &:hover {
                    background: #1dace4;
                    
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
