.page-right-part {
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 100%;
    
    section.top-bar {
        width: 100%;
        height: 50px;
        background: #686868;
        text-align: right;
        
        ul {
            text-align: right;
            
            li {
                display: inline;
                margin-left: 5px;
                margin-right: 5px;
                
                a {
                    margin-top: 15px;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: #CDCDCD;
                }
                
                &.active, &:hover {
                    a {
                        background: #1dace4;
                    }
                }
            }
        }
    }
    
    section.content {
        margin: 0px;
        padding: 0px;
        height: 100%;
        min-height: 100%;
        
        header {
            padding: 0px;
            background: #686868;
            
            div.module-info {
                margin: 20px 0px 20px 0px;
                padding: 0px;
                h1 {
                    color: #1dace4;
                    font-size: 40px;
                    letter-spacing: 1px;
                    margin-bottom: 3px;
                }

                ul.breadcrumbs {
                    margin: 0px;
                    padding: 0px;

                    li {
                        display: inline-block;

                        a {
                            color: red;
                            font-size: 12px;
                            text-decoration: none;
                        }
                    }
                }

                p {
                    font-size: 14px;
                    text-align: justify;
                    line-height: 20px;
                    letter-spacing: 1px;
                    color: #CDCDCD;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
            
            div.module-buttons {
                text-align: left;
                
                ul.primary-buttons {
                    margin-top: 20px;
                    padding: 0px;
                    list-style-type: none;
                    
                    li {
                        display: inline-block;
                        
                        a {
                            display: block;
                            width: 210px;
                            height: 100px;
                            background: #1dace4;
                            @include border-radius(20px);
                        }
                    }
                }
                
                ul.slave-buttons {
                    list-style-type: none;
                    padding: 0px;
                    
                    li {
                        margin-top: 5px;
                        margin-bottom: 0px;
                        margin-left: 5px;
                        margin-right: 5px;
                        text-align: center;
                        display: inline-block;
                        
                        a {
                            display: block;
                            width: 40px;
                            height: 40px;
                            background: #CDCDCD;
                            @include border-radius(5px);
                            
                            &:hover {
                                background: #1dace4;
                            }
                        }
                    }
                }
            }
        }
        
        div.list-records {
            div.top-bar {
                margin: 0px 0px 20px 0px;
                padding: 0px;
                border-bottom-style: solid;
                border-bottom-color: #CDCDCD;
                border-bottom-width: 1px;
                
                
                ul {
                    margin-top: 10px;
                    margin-bottom: 5px;
                    margin-right: 10px;
                    padding: 0px;
                    list-style-type: none;
                    text-align: right;
                    
                    li {
                        display: inline-block;
                        margin-left: 2px;
                        margin-right: 2px;
                        
                        a {
                            display: block;
                            width: 20px;
                            height: 20px;
                            background: red;
                            @include border-radius(5px);
                            background: #CDCDCD;
                            
                            &:hover {
                                background: #1dace4;
                            }
                        }
                    }
                }
            }
            
            h2 {
                font-size: 25px;
                text-transform: uppercase;
                margin-bottom: 15px;
                letter-spacing: 1px;
            }
            
            div.record-bar {
                margin: 5px 0px 5px 0px;
                padding: 0px;
                border-style: solid;
                border-color: #CDCDCD;
                border-width: 1px;
                border-left-width: 3px;
                
                &:hover {
                    border-style: solid;
                    border-width: 1px;
                    border-color: #686868;
                    border-left-width: 3px;
                    border-left-color: #1dace4;
                    cursor: pointer;
                }
                
                div.record-identity {
                    ul {
                        margin: 0px;
                        padding: 0px;
                        
                        li {
                            display: inline-block;
                            
                            p {
                                line-height: 50px;
                                margin: 0px;
                                padding: 0px;
                            }
                        }
                    }
                }
                
                div.record-buttons {
                    text-align: right;
                    margin: 0px;
                    padding: 0px;
                    
                    ul {
                        margin-top: 10px;
                        margin-bottom: 5px;
                        margin-right: 10px;
                        padding: 0px;
                        list-style-type: none;
                        text-align: right;

                        li {
                            display: inline-block;
                            margin-left: 2px;
                            margin-right: 2px;

                            a {
                                display: block;
                                width: 30px;
                                height: 30px;
                                background: red;
                                @include border-radius(5px);
                                background: #CDCDCD;

                                &:hover {
                                    background: #1dace4;
                                }
                            }
                        }
                    }
                }
            }
            
            div.bottom-bar {
                margin: 20px 0px 20px 0px;
                padding: 0px;
                border-top-style: solid;
                border-top-color: #CDCDCD;
                border-top-width: 1px;;
                border-bottom-style: solid;
                border-bottom-color: #CDCDCD;
                border-bottom-width: 1px;
                
                ul {
                    margin-top: 10px;
                    margin-bottom: 5px;
                    margin-right: 10px;
                    padding: 0px;
                    list-style-type: none;
                    text-align: right;
                    
                    li {
                        display: inline-block;
                        margin-left: 2px;
                        margin-right: 2px;
                        
                        a {
                            display: block;
                            width: 20px;
                            height: 20px;
                            background: red;
                            @include border-radius(5px);
                            background: #CDCDCD;
                            
                            &:hover {
                                background: #1dace4;
                            }
                        }
                    }
                }
            }
        }
    }
}
