@import "compass";
@import "../../library/bootstrap/bootstrap";

$breakpoints: (
    'small'  : ( max-width:  767px ),
    'medium' : ( min-width:  992px ),
    'large'  : ( min-width: 1200px )
);

@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0px;
}

div.container {
    display: relative;
    width: 100%;
    min-height: 100%;
    height: auto;
    background: #686868;
    
    div.row {
        height: 100%;
        
        div:nth-child(1) {
            position: relative;
            height: 100%;
            
            nav {
                margin-top: 20px;
                text-align: left;
                
                ul {
                    list-style-type: none;
                    text-align: left;
                    margin: 0px;
                    padding: 0px;
                    
                    li {
                        margin-top: 5px;
                        text-align: center;
                        
                        a {
                            line-height: 30px;
                            height: 30px;
                            min-height: 30px;
                            letter-spacing: 1px;
                            color: #CDCDCD;
                        }

                        &.active, &:hover {
                            background: #1dace4;

                            a {
                                color: white;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        
        div:nth-child(2) {
            padding: 0px;
            
            div:nth-child(1) {
                height: 50px;
                text-align: right;
                
                ul {
                    text-align: right;
                    
                    li {
                        display: inline;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }
            
            section {
                background: white;
                padding: 0px;
                
                & header {
                    background: white;
                    padding-top: 20px;
                    padding-left: 0px;
                    padding-bottom: 20px;
                    background: #686868;
                    
                    div:nth-child(1) {
                        padding: 0px;
                        
                        div:first-child {
                            padding: 0px;
                        }
                        
                        div:last-child {
                            padding: 0px;
                            
                            h1 {
                                color: #1dace4;
                                font-size: 40px;
                                letter-spacing: 1px;
                                margin: 0px 0px 0px 10px;
                                padding: 0px;
                                text-align: left;
                                
                                @include respond-to(small) {
                                    margin-top: 40px;
                                }
                            }
                            
                            ul {
                                margin: 0px 0px 20px 10px;
                                padding: 0px;
                                text-align: left;
                                @include respond-to(small) {
                                    margin-top: 10px;
                                }
                                
                                li {
                                    display: inline;
                                    margin: 0px;
                                    padding: 0px;
                                    color: #CDCDCD;
                                    @include respond-to(small) {
                                        & {
                                            display: none;
                                        }
                                        
                                        &:nth-last-child(1), &:nth-last-child(2) {
                                            display: inline;
                                        }
                                    }
                                    
                                    a {
                                        color: red;
                                        font-size: 12px;
                                        text-decoration: none;
                                        padding-left: 4px;
                                        
                                        @include respond-to(small) {
                                            font-size: 18px;
                                            letter-spacing: 1px;
                                        }
                                    }
                                }
                            }

                            p {
                                font-size: 14px;
                                text-align: justify;
                                line-height: 20px;
                                letter-spacing: 1px;
                                margin: 0px 0px 0px 10px;
                                color: #CDCDCD;
                            }
                        }
                    }
                    
                    div:nth-child(2) {
                        text-align: center;
                        
                        ul:first-child {
                            padding: 0px;
                            list-style-type: none;
                            
                            li {
                                display: inline-block;
                            }
                        }

                        ul:last-child {
                            list-style-type: none;
                            padding: 0px;

                            li {
                                margin-top: 5px;
                                margin-bottom: 0px;
                                margin-left: 5px;
                                margin-right: 5px;
                                text-align: center;
                                display: inline-block;
                            }
                        }
                    }
                }
                
                & section {
                    padding-left: 10px;
                    padding-right: 10px;
                    
                    & header {
                        margin-bottom: 10px;
                        padding: 0px;
                        background: none;
                        
                        nav {
                            border-bottom-style: solid;
                            border-bottom-color: #CDCDCD;
                            border-bottom-width: 1px;
                            margin-bottom: 20px;

                            ul {
                                margin-top: 10px;
                                margin-bottom: 5px;
                                margin-right: 10px;
                                padding: 0px;
                                list-style-type: none;
                                text-align: left;
                                
                                li {
                                    display: inline-block;
                                    margin-left: 2px;
                                    margin-right: 2px;
                                }
                            }
                        }

                        h2 {
                            font-size: 25px;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }
                    }
                    
                    footer {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        padding: 0px;
                        
                        nav {
                            border-top-style: solid;
                            border-top-color: #CDCDCD;
                            border-top-width: 1px;
                            border-bottom-style: solid;
                            border-bottom-color: #CDCDCD;
                            border-bottom-width: 1px;
                            
                            ul {
                                margin-top: 10px;
                                margin-bottom: 5px;
                                margin-right: 10px;
                                padding: 0px;
                                list-style-type: none;
                                text-align: left;

                                li {
                                    display: inline-block;
                                    margin-left: 2px;
                                    margin-right: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    footer.page-footer {
        height: 30px;
        @include respond-to(small) {
            height: 50px;
        }
        p {
            color: #CDCDCD;
            font-size: 10px;
            letter-spacing: 1px;
            padding: 0px;
            margin: 0px;
            line-height: 30px;
            
            @include respond-to(small) {
                font-size: 14px;
                line-height: 50px;
            }
            
            a {
                color: #1dace4;
                text-decoration: none;
            }
        }
    }
}

#brand {
    margin-top: 20px;
    text-align: center;
}

#userStatus {
    text-align: center;
    margin-top: 20px;
    
    p {
        position: relative;
        color: black;
        letter-spacing: 1px;
        padding-top: 15px;
        padding-left: 50px;
        padding-bottom: 0px;
        
        strong {
            display: inline-block;
            margin-top: 5px;
            color: red;
        }
    }
    
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        
        li {
            display: inline;
            
            a {
                color: #CDCDCD;
                margin-left: 3px;
                margin-right: 3px;
                
                &:hover {
                    text-decoration: none;
                    color: red;
                }
            }
        }
    }
}

#edit-record {
    form {
        dl {
            margin: 0px;
            
            dt {
                padding: 0px;
                
                label {
                    font-weight: bolder;
                    line-height: 40px;
                }
            }
            
            dd {
                padding: 0px;
                margin-bottom: 10px;
                
                &:last-child {
                    margin-bottom: 0px;
                }
                
                ul {
                    margin: 0px;
                    padding: 0px;
                    width: 100%;
                    
                    li {
                        display: inline-block;
                        vertical-align: top;

                        &:first-child {
                            width: 90%;
                        }
                        
                        input[type='text'], input[type='password'] {
                            width: 100%;
                            height: 40px;
                            border-style: solid;
                            border-color: #CDCDCD;
                            border-width: 1px;
                            border-left-width: 3px;
                            color: #CDCDCD;
                            padding-left: 10px;
                            
                            &:hover, &:focus {
                                border-style: solid;
                                border-width: 1px;
                                border-color: #686868;
                                border-left-width: 3px;
                                border-left-color: #1dace4;
                                cursor: pointer;
                                color: black;
                            }
                        }
                        
                        textarea {
                            width: 100%;
                            height: 200px;
                            resize: none;
                            border-style: solid;
                            border-color: #CDCDCD;
                            border-width: 1px;
                            border-left-width: 3px;
                            padding-top: 10px;
                            padding-left: 10px;
                            color: #CDCDCD;
                            
                            &:hover, &:focus, &.correct:hover, &.correct:focus, &.invalid:hover, &.invalid:focus {
                                border-style: solid;
                                border-width: 1px;
                                border-color: #686868;
                                border-left-width: 3px;
                                border-left-color: #1dace4;
                                cursor: pointer;
                                color: black;
                            }
                        }
                        
                        select {
                            width: 100%;
                            height: 40px;
                            background: white;
                            border-style: solid;
                            border-color: #CDCDCD;
                            border-width: 1px;
                            border-left-width: 3px;
                            padding-left: 10px;
                            color: #CDCDCD;
                            
                            &:hover, &:active {
                                border-style: solid;
                                border-width: 1px;
                                border-color: #686868;
                                border-left-width: 3px;
                                border-left-color: #1dace4;
                                cursor: pointer;
                                color: black;
                            }
                        }
                        
                        ul.errors {
                            padding-top: 10px;
                            padding-left: 30px;
                            
                            li {
                                display: list-item;
                                list-style-type: disc;
                                color: red;
                            }
                        }
                        
                        input.correct, textarea.correct, select.correct {
                            border-style: solid;
                            border-width: 1px;
                            border-color: #686868;
                            border-left-width: 3px;
                            border-left-color: limegreen;
                            color: limegreen;
                        }
                        
                        input.invalid, textarea.invalid, select.invalid {
                            border-style: solid;
                            border-width: 1px;
                            border-color: #686868;
                            border-left-width: 3px;
                            border-left-color: red;
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

#show-profile {
    dl {
        dt {
            line-height: 40px;
            letter-spacing: 1px;
        }
        
        dd {
            line-height: 40px;
        }
    }
}

#list-records {
    & > div {
        margin: 5px 0px 5px 0px;
        padding: 0px;
        border-style: solid;
        border-color: #CDCDCD;
        border-width: 1px;
        border-left-width: 3px;

        &:hover, &.active {
            border-style: solid;
            border-width: 1px;
            border-color: #686868;
            border-left-width: 3px;
            border-left-color: #1dace4;
            cursor: pointer;
        }

        div:first-child {
            ul {
                text-align: left;
                margin: 0px;
                padding: 0px;

                li {
                    display: inline-block;
                    line-height: 60px;
                    
                    p {
                        margin: 0px;
                        padding: 0px;
                    }

                    input[type='checkbox'] {
                        vertical-align: middle;
                        width: 20px;
                        height: 20px;
                        margin: 0px;
                    }
                }
            }
        }

        div:last-child {
            text-align: right;
            margin: 0px;
            padding: 0px;

            ul {
                margin-top: 10px;
                margin-bottom: 5px;
                margin-right: 10px;
                padding: 0px;
                list-style-type: none;
                text-align: right;

                li {
                    display: inline-block;
                    margin-left: 2px;
                    margin-right: 2px;
                }
            }
        }
    }
}

#list-pictures {
    & > div {
        margin-bottom: 20px;
        
        & > div {
            position: relative;
            float: left;
            width: 200px;
            height: 200px;
            margin: 5px 5px 5px 5px;
            padding: 0px;
            border-style: solid;
            border-color: #CDCDCD;
            border-width: 1px;
            border-left-width: 3px;
            overflow: hidden;

            & > div:nth-child(1) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 30px;
                z-index: 2;

                ul {
                    text-align: left;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    margin-left: 5px;
                    padding: 0px;

                    li {
                        margin: 0px;
                        padding: 0px;
                        display: inline-block;
                        line-height: 30px;

                        input[type="checkbox"] {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }

            & > div:nth-child(2) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;

                img {
                    opacity: 0.5;
                }
            }

            & > div:nth-child(3) {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 60px;
                background: white;
                z-index: 3;
                display: none;
                opacity: 0.8;

                ul {
                    text-align: center;
                    margin: 0px;
                    padding: 0px;
                    display: list-item;
                    list-style-type: none;

                    li {
                        &:first-child {
                            margin-top: 10px;
                        }

                        display: inline-block;
                        margin-left: 2px;
                        margin-right: 2px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }
            }

            &.active {
                border-style: solid;
                border-width: 1px;
                border-color: #686868;
                border-left-width: 3px;
                border-left-color: #1dace4;
                cursor: pointer;

                div:nth-child(2) {
                    img {
                        opacity: 0.9;
                    }
                }
            }

            &:hover {
                border-style: solid;
                border-width: 1px;
                border-color: #686868;
                border-left-width: 3px;
                border-left-color: #1dace4;
                cursor: pointer;

                div:nth-child(2) {
                    img {
                        opacity: 0.9;
                    }
                }

                div:nth-child(3) {
                    display: block;
                }
            }
        }
    }
}

#userIcon {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url('/img/application/templates/admin/icons.png') -1735px -320px no-repeat;
}

#polishLanguageIcon {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('/img/application/templates/admin/icons.png') -90px -30px no-repeat;
    
    &:hover, &.active {
        background: url('/img/application/templates/admin/icons.png') -90px 0px no-repeat;
    }
}

#englishLanguageIcon {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('/img/application/templates/admin/icons.png') -120px -30px no-repeat;
    
    &:hover, &.active {
        background: url('/img/application/templates/admin/icons.png') -120px 0px no-repeat;
    }
}

#moduleIcon {
    width: 60px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background: url('/img/application/templates/admin/icons.png') -840px -320px no-repeat;
}

#createRecord {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 200px;
    height: 100px;
    background: #1dace4;
    @include border-radius(20px);
    background: #1dace4 url('/img/application/templates/admin/icons.png') 0px -380px no-repeat;
}

#saveIcon {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 200px;
    height: 100px;
    @include border-radius(20px);
    background: #1dace4 url('/img/application/templates/admin/icons.png') -200px -380px no-repeat;
}

#refreshResults {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 40px;
    height: 40px;
    background: #CDCDCD;
    @include border-radius(5px);
    background: #CDCDCD url('/img/application/templates/admin/icons.png') -1038px -100px no-repeat;

    &:hover {
        background: #1dace4 url('/img/application/templates/admin/icons.png') -1038px -60px no-repeat;
    }
}

#checkAllResults {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 40px;
    height: 40px;
    background: #CDCDCD;
    @include border-radius(5px);
    background: #CDCDCD url('/img/application/templates/admin/icons.png') -878px -100px no-repeat;

    &:hover {
        background: #1dace4 url('/img/application/templates/admin/icons.png') -878px -60px no-repeat;
    }
}

#removeAllCheckedResults {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 40px;
    height: 40px;
    background: #CDCDCD;
    @include border-radius(5px);
    background: #CDCDCD url('/img/application/templates/admin/icons.png') -839px -100px no-repeat;

    &:hover {
        background: #1dace4 url('/img/application/templates/admin/icons.png') -839px -60px no-repeat;
    }
}

#cancelIcon {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 40px;
    height: 40px;
    background: #CDCDCD;
    @include border-radius(5px);
    background: #CDCDCD url('/img/application/templates/admin/icons.png') -120px -240px no-repeat;

    &:hover {
        background: #1dace4 url('/img/application/templates/admin/icons.png') -120px -200px no-repeat;
    }
}

#findIcon {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 40px;
    height: 40px;
    background: #CDCDCD;
    @include border-radius(5px);
    background: #CDCDCD url('/img/application/templates/admin/icons.png') -160px -240px no-repeat;

    &:hover {
        background: #1dace4 url('/img/application/templates/admin/icons.png') -160px -200px no-repeat;
    }
}

#backPageIcon {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 30px;
    @include border-radius(5px);
    background: #1dace4 url('/img/application/templates/admin/icons.png') -898px -30px no-repeat;
    
    &:hover {
        background: #1dace4 url('/img/application/templates/admin/icons.png') -898px 0px no-repeat;
    }
}

#nextPageIcon {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 30px;
    @include border-radius(5px);
    background: #1dace4 url('/img/application/templates/admin/icons.png') -928px -30px no-repeat;
    
    &:hover {
        background: #1dace4 url('/img/application/templates/admin/icons.png') -928px 0px no-repeat;
    }
}

#messages {
    margin-bottom: 20px;
    background: #CDCDCD;

    p {
        margin-top: 10px;
        margin-left: 10px;
    }

    ul {
        padding: 0px;
        margin-top: 5px;
        margin-left: 40px;
        margin-bottom: 10px;
        list-style-type: circle;

        li {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

#formInfoIcon {
    margin-top: 5px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 30px;
    @include border-radius(5px);
    background: #1dace4;
    margin-left: 10px;
    vertical-align: middle;
    background: #1dace4 url('/img/application/templates/admin/icons.png') -600px 0px no-repeat;
}

#editRecord {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 40px;
    height: 40px;
    background: red;
    @include border-radius(5px);
    background: #CDCDCD url('/img/application/templates/admin/icons.png') -240px -241px no-repeat;

    &:hover {
        background: #1dace4 url('/img/application/templates/admin/icons.png') -240px -200px no-repeat;
    }
}

#deleteRecord {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 40px;
    height: 40px;
    background: red;
    @include border-radius(5px);
    background: #CDCDCD url('/img/application/templates/admin/icons.png') -1077px -100px no-repeat;

    &:hover {
        background: #1dace4 url('/img/application/templates/admin/icons.png') -1077px -60px no-repeat;
    }
}

#showProfile {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 40px;
    height: 40px;
    background: red;
    @include border-radius(5px);
    background: #CDCDCD url('/img/application/templates/admin/icons.png') -1157px -100px no-repeat;

    &:hover {
        background: #1dace4 url('/img/application/templates/admin/icons.png') -1157px -60px no-repeat;
    }
}

div.ui-dialog {
    div.ui-dialog-titlebar {
        background: #1DACE4;
        color: white;
    }
    
    div.ui-dialog-buttonpane {
        button {
            @include border-radius(10px);
            height: 30px;
            background: #5D5D5D;
            color: white;
            border: none;
            
            &:hover {
                background: #1DACE4;
            }
        }
    }
}