footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: auto;
    width: 100%;

    div.copright {
        background: #5D5D5D;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #767676;
        min-height: 40px;

        p {
            line-height: 40px;
            vertical-align: middle;
            margin: 0px;
            padding: 0px;
            color:#dcdcdc;
            font-size: 11px;
            letter-spacing: 1px;

            @include breakpoint(sm) {
                text-align: center;
                font-size: 14px;
            }

            a {
                @include breakpoint(sm) {
                    font-size: 14px;
                }
            }
        }

        @include breakpoint(sm) {
            & {
                .row {
                    div {
                        width: 100%;
                    }
                }
            }
        }
    }
}