section.page-content {
    header {
        h1 {
            font-size: 6em;
            font-family: ComfortaaBold;
            color: #1dace4;
            line-height: 150px;
            letter-spacing: 1px;
            text-align: center;
            text-transform: lowercase;
        }
    }

    main {
        p {
            color: white;
            font-size: 1em;
            letter-spacing: 1px;
            text-align: center;
        }
        
        section {
            margin-top: 10px;
            margin-bottom: 10px;
            
            pre {
                @include border-radius(30px);
                border: none;
                text-align: left;
                color: silver;
                background: #767676;
                
                strong {
                    font-size: 14px;
                    color: red;
                }
            }
        }
    }
}