@import "compass";
@import "../../library/bootstrap/bootstrap";
@include font-face(
    "ComfortaaBold",
    font-files(
        "/fonts/application/templates/error/comfortaa_bold.eot?#iefix",
        "/fonts/application/templates/error/comfortaa_bold.svg#ComfortaaBold",
        "/fonts/application/templates/error/comfortaa_bold.ttf",
        "/fonts/application/templates/error/comfortaa_bold.woff"
    ),
    "normal",
    "normal"
);
@include font-face(
    "ComfortaaRegular",
    font-files(
        "/fonts/application/templates/error/comfortaa_regular.eot?#iefix",
        "/fonts/application/templates/error/comfortaa_regular.svg#ComfortaaRegular",
        "/fonts/application/templates/error/comfortaa_regular.ttf",
        "/fonts/application/templates/error/comfortaa_regular.woff"
    ),
    "normal",
    "normal"
);
@include font-face(
    "ComfortaaThin",
    font-files(
        "/fonts/application/templates/error/comfortaa_thin.eot?#iefix",
        "/fonts/application/templates/error/comfortaa_thin.svg#ComfortaaThin",
        "/fonts/application/templates/error/comfortaa_thin.ttf",
        "/fonts/application/templates/error/comfortaa_thin.woff"
        ),
    "normal",
    "normal"
);

@mixin breakpoint($point) {
    @if $point == xs {
        @media (max-width: 320px) { @content; }
    }
    
    @if $point == sm {
        @media (max-width: 480px) { @content; }
    }
    
    @if $point == md {
        @media (max-width: 767px) { @content; }
    }
    
    @if $point == lg {
        @media (max-width: 979px) { @content; }
    }
    
    @if $point == xl {
        @media (max-width: 1200px) { @content; }
    }
}

body {
    background: #686868;
    min-height: 100%;min-height: 100vh;display: flex;align-items: center;
    
    a {
        font-size: 12px;
        color: #1dace4;
        
        &:hover {
            text-decoration: underline;
            color: #1dace4;
        }
    }
}

@import "_page-content.scss";
@import "_page-footer.scss";