section.page-content {
    float: none;
    margin: 60px auto;
    width: 400px;
    min-height: 400px;
    background: white;
    padding-bottom:15px;
    @include border-radius(30px);
    
    header {
        img.logotype {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        nav {
            border-top-style: solid;
            border-top-width: 1px;
            border-top-color: #1dace4;
            margin-bottom: 5px;
            
            h1 {
                margin: 0px;

                a {
                    background: url("/img/application/templates/login/dot-active.png") left center no-repeat;
                    font-size: 16px;
                    font-family: ComfortaaRegular;
                    text-transform: lowercase;
                    margin-left: 0px;
                    padding-left: 16px;
                    vertical-align: middle;
                    letter-spacing: 1px;
                    line-height: 33px;
                    color: #1dace4;
                    text-decoration: none;
                    @include breakpoint(sm) {
                        font-size: 22px;
                    }
                }
            }
        }
    }
    
    main {
        form {
            dt {
                label {
                    letter-spacing: 1px;
                }
            }
            
            dd {
                margin-bottom: 15px;
                
                &:last-child {
                    text-align: center;
                }
                
                ul.errors {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    color: red;
                }
                
                input[type='text'], input[type='password'] {
                    @include border-radius(10px);
                    border-color: #CDCDCD;
                    border-style: solid;
                    border-width: 1px;
                    width: 100%;
                    min-height: 30px;
                    padding: 7px;

                    &:hover {
                        border-color: #1DACE4;
                    }
                }
                
                input[type='submit'], input[type="button"] {
                    @include border-radius(10px);
                    width: 200px;
                    height: 30px;
                    background: #5D5D5D;
                    border: none;
                    color: white;
                    letter-spacing: 1px;
                    
                    &:hover {
                        background: #1DACE4;
                    }
                }

                textarea {
                    @include border-radius(10px);
                    border-color: #CDCDCD;
                    border-style: solid;
                    border-width: 1px;
                    width: 100%;
                    padding: 7px;
                    resize: none;

                    &:hover {
                        border-color: #1DACE4;
                    }
                }

                select {
                    @include border-radius(10px);
                    border-color: #CDCDCD;
                    border-style: solid;
                    border-width: 1px;
                    width: 100%;
                    padding: 7px;

                    &:hover {
                        border-color: #1DACE4;
                    }
                }

                span {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0px;
                    margin: 0px;
                }

                input[type='checkbox'], input[type='radio'] {
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
        
        & ul {
            a {
                color: #CDCDCD;
                letter-spacing: 1px;
                
                &:hover {
                    color: #1DACE4;
                }
            }
            
            &.errors {
                list-style: disc;
            }
            
            list-style: none;
        }
    }
}