@import "compass";
@import "../../library/bootstrap/bootstrap";
@include font-face(
    "ComfortaaBold",
    font-files(
        "/fonts/application/templates/login/comfortaa_bold.eot?#iefix",
        "/fonts/application/templates/login/comfortaa_bold.svg#ComfortaaBold",
        "/fonts/application/templates/login/comfortaa_bold.ttf",
        "/fonts/application/templates/login/comfortaa_bold.woff"
    ),
    "normal",
    "normal"
);
@include font-face(
    "ComfortaaRegular",
    font-files(
        "/fonts/application/templates/login/comfortaa_regular.eot?#iefix",
        "/fonts/application/templates/login/comfortaa_regular.svg#ComfortaaRegular",
        "/fonts/application/templates/login/comfortaa_regular.ttf",
        "/fonts/application/templates/login/comfortaa_regular.woff"
    ),
    "normal",
    "normal"
);
@include font-face(
    "ComfortaaThin",
    font-files(
        "/fonts/application/templates/login/comfortaa_thin.eot?#iefix",
        "/fonts/application/templates/login/comfortaa_thin.svg#ComfortaaThin",
        "/fonts/application/templates/login/comfortaa_thin.ttf",
        "/fonts/application/templates/login/comfortaa_thin.woff"
        ),
    "normal",
    "normal"
);

@mixin breakpoint($point) {
    @if $point == xs {
        @media (max-width: 320px) { @content; }
    }
    
    @if $point == sm {
        @media (max-width: 480px) { @content; }
    }
    
    @if $point == md {
        @media (max-width: 767px) { @content; }
    }
    
    @if $point == lg {
        @media (max-width: 979px) { @content; }
    }
    
    @if $point == xl {
        @media (max-width: 1200px) { @content; }
    }
}

html, body {
  height: 100%;
  margin: 0;
  background: #686868;
}

#wrap {
    min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:60px; /* this needs to be bigger than footer height*/
}

div.ui-dialog {
    div.ui-dialog-titlebar {
        background: #1DACE4;
        color: white;
    }
    
    div.ui-dialog-buttonpane {
        button {
            @include border-radius(10px);
            height: 30px;
            background: #5D5D5D;
            color: white;
            border: none;
            
            &:hover {
                background: #1DACE4;
            }
        }
    }
}

@import "_page-content.scss";
@import "_page-footer.scss";